.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
  transition: all 0.25s;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  touch-action: manipulation;
  outline: none;
  user-select: none;
  padding: 12px 20px;
  border: none;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn-boston {
  background-color: hsl(var(--boston-hue), var(--boston-sat), 34%);
  color: var(--txt-light);
}
.btn-boston:hover {
  background-color: hsl(var(--boston-hue), 40%, 45%);
}
.btn-fern {
  background-color: hsl(var(--fern-hue), var(--fern-sat), 34%);
  color: var(--txt-light);
}
.btn-fern:hover {
  background-color: hsl(var(--fern-hue), 40%, 45%);
}
.btn-coral {
  background-color: hsl(var(--coral-hue), var(--coral-sat), 34%);
  color: var(--txt-light);
}
.btn-coral:hover {
  background-color: hsl(var(--coral-hue), 40%, 45%);
}
