:root {
  /* COLORS */
  --grey: hsl(0, 0%, 20%);
  --grey-hue: 0;
  --grey-sat: 0%;
  --grey-light: 20%;

  --crimson: hsl(354, 100%, 50%);
  --crimson-hue: 354;
  --crimson-sat: 100%;
  --crimson-light: 50%;

  --fern: hsl(151, 100%, 36%);
  --fern-hue: 151;
  --fern-sat: 100%;
  --fern-light: 36%;

  --boston: hsl(198, 64%, 46%);
  --boston-hue: 198;
  --boston-sat: 64%;
  --boston-light: 46%;

  --coral: hsl(19, 96%, 63%);
  --coral-hue: 19;
  --coral-sat: 96%;
  --coral-light: 63%;

  --razzle: hsl(310, 87%, 62%);
  --razzle-hue: 310;
  --razzle-sat: 87%;
  --razzle-light: 62%;

  --royal: hsl(291, 48%, 30%);
  --royal-hue: 291;
  --royal-sat: 48%;
  --royal-light: 30%;

  --sun: hsl(35, 89%, 62%);
  --sun-hue: 35;
  --sun-sat: 89%;
  --sun-light: 62%;

  /* TXT COLORS */
  --txt-light: hsl(var(--grey-hue) calc(var(--grey-sat) / 2) 85%);
  --txt-dark: hsl(var(--grey-hue) var(--grey-sat) 10%);
}
